body {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #2419c9;
    background-color:silver;
}

#matrix {
    display: grid;
    width: 200px; /* without width the column cells are seperate when we set width it puts them in that space */
    margin: 50px auto; /*100px sets the gap between other elements in page with this element. auto sets the element in center */   
    justify-content: center;
}

.cell {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 100px;
    text-align: center;  
    width: 100px;
    height: 100px;
    border: 3px solid #172f9b;
    background-color: rgb(171, 178, 179);
    cursor: pointer    
}

.game-restart{
    padding: 6px;
    font-size: large; 
    font-weight: bold; 
    background-color: rgb(171, 178, 179);
    border-color: #172f9b;
    color: #2419c9;
    border-radius: 4px;
}

.matrix-size-input {
    border-color: #172f9b;
    padding: 6px;  
   
}